.nowPlaying_title {
  font-size: 28px;
  font-weight: 800;
  padding: 20px 30px;

  @media screen and (max-width: 768px) {
    font-size: 20px
  }
}

.image {
  position: relative;
  width: 100%;
  height: 600px;

  @media (max-width: 768px) {
    height: 350px;
  }

  span {
    width: 100%;
    height: 100%;
  }

  img {
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: 100%;
  }
}

.info_outer {
  background: linear-gradient(to right, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
}

.info_inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
  height: 100%;
  padding-left: 50px;

  @media (max-width: 768px) {
    width: 80%;
    padding: 20px;
  }

  @media (max-width: 425px) {
    width: 100%;
  }
}

.title {
  color: #fff;
  font-size: 40px;
  font-weight: 700;
  position: relative;
  transition: all 0.2s linear;

  @media (max-width: 768px) {
    font-size: 24px;
  }
}

.overview {
  font-size: 16px;
  line-height: 1.4;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  margin: 15px 0 25px 0;
  overflow: hidden;

  @media (max-width: 768px) {
    font-size: 14px;
  }
}

.button_wrapper {
  display: flex;
}