.tab_nav {
  display: flex;
}

.tab {
  font-size: 16px;
  font-weight: 600;
  text-transform: capitalize;
  color: #70757a;
  background-color: #1f1f1f;
  width: 100%;
  padding: 12px 0;
  transition: all 0.3s ease;

  &:hover {
    color: #016c73;
    background-color: #0e0e0e;
  }

  @media screen and (max-width: 768px) {
    font-size: 14px;
  }
}

.active {
  color: #016c73 !important;
  background-color: #0e0e0e !important;
}