* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  scrollbar-width: thin;
  scrollbar-color: #016c74 #0e0e0e;

  &::-webkit-scrollbar {
    width: 5px;
  }

  &::-webkit-scrollbar-thumb {
    background: #016c73;
    border-radius: 8px;
  }
}

body {
  font-family: "Monserrat", sans-serif;
  font-size: 14px;
  font-weight: 500;
  color: #fff;
  background-color: #0e0e0e;
}

a {
  text-decoration: none;
}

button {
  outline: none;
  border: none;
  background: none;
  cursor: pointer;
}

main {
  position: relative;
}

.fade_in {
  animation: fadeIn 0.5s ease-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-15px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.swiper-button-next,
.swiper-button-prev {
  background-color: rgba(0, 0, 0, 0.8) !important;
  top: 0 !important;
  width: auto !important;
  height: 100% !important;
  margin: 0 !important;
  padding: 10px !important;

  &:after {
    font-size: 32px !important;
  }

  @media (max-width: 768px) {
    display: none !important;
  }
}

.swiper-button-next {
  right: 0 !important;
}

.swiper-button-prev {
  left: 0 !important;
}

.disable_scroll {
  overflow: hidden;
}

.footer {
  font-size: 14px;
  font-weight: 600;
  color: #767676;
  padding: 30px 20px;
}

#portal {
  position: fixed;
  inset: 0;
  z-index: 1000;
}
